body{
    font-family: Arial,sans-serif;
}

.parrafo1{
    font-family: 'Encode Sans',sans-serif;
    font-weight: normal;
}
.chiqui_tapia{
    width: 500px;
    height: 300px;
}
p{
    max-width: 100%;
    font-size: 19px;
    line-height: 30px;
    color:#343434;
    margin-bottom: 30px;
}